<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace需要指出对应的接口文件，各个id映射为接口方法-->
<mapper namespace="userMapper">
    <resultMap id="user" type="user">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
    </resultMap>

    <!-- 查询条件-->
    <sql id = "queryDynSql">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null">
                <![CDATA[ AND ID =${id} ]]>
            </if>
            <if test="name != null">
                <![CDATA[AND name like '%${name}%']]>
            </if>
            <if test = "age != null">
                <![CDATA[ AND age =${age} ]]>
            </if>
        </trim>
    </sql>

    <select id="getUserByParam" resultMap="user">
        <![CDATA[
            SELECT * FROM user
         ]]>
        <include refid="queryDynSql" />
    </select>

    <insert id="saveUser" parameterType="user">
        <![CDATA[
            INSERT INTO user(name,age)
            VALUES
            (#{name},#{age})
         ]]>
    </insert>
</mapper>